ion-content {
    --background:#95cbd3;

}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.container{
    -webkit-animation:rotate-center .7s ease-in-out both;animation:rotate-center .6s ease-in-out both;
    img {
        height: 140px;
        margin-top: 60%;
    }
}