<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EDITA EL ARTICULO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Id del artículo</ion-label>
      <ion-input formControlName="id" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <ion-input formControlName="tipo" type="text" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="text" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Intercambio</ion-label>
      <ion-input formControlName="intercambio" type="text" required>
      </ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="success">Actualizar</ion-button>
  </form>
</ion-content>
