<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listclient"></ion-back-button>
    </ion-buttons>
    <ion-title>CREA TU ARTICULO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ropaForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Identificador del producto</ion-label>
      <ion-input formControlName="id" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de producto</ion-label>
      <ion-input formControlName="tipo" type="text" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input formControlName="precio" type="text" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Intercambio</ion-label>
      <ion-input formControlName="intercambio" type="text" required>
      </ion-input>
    </ion-item>
 
    <ion-button type="submit" expand="block" color="success" > Crear articulo</ion-button>
  </form>
<!--SUBE FOTO  -->

  <form [formGroup]="newPostForm" (ngSubmit)="addNewPost(newPostForm)">
 <h4>¿Quieres subir una foto?</h4>
<ion-item>
    <ion-label>
        Foto
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
         <label for="file-upload">
           <ion-icon slot="icon-only" name="images"></ion-icon>
         </label>
          <input (change)="handleImage($event)" id="file-upload" style="display: none" type="file"  accept="image/*" >
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-button type="submit" expand="block" color="success">Subir Foto</ion-button>
</form>

<!--ENVIAR EMAIL -->
<h5>¿Quieres recibir un email de confirmación?</h5>
<ion-button type="submit" expand="block" color="success" (click)="sendEmail()">Enviar Email</ion-button>
</ion-content>
